
@font-face {
	font-family: $fontIcon;
	font-style: normal;
	font-weight: 400;
	src: url(fonts/Material-Icons.woff2) format('woff2');
}

i {
	font-family: $fontIcon;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.auto-icon {
	display: inline-block;
	width: 28px;
	height: 28px;
	border-radius: 3px;
	border: 1px solid transparent;
	overflow: hidden;
	pointer-events: none;

	span {
		display: inline-block;
		width: 26px;
		height: 26px;
		border-radius: 3px;
		background-size: cover;
	}

	&.circle span {
		border-radius: 50%;
	}

	&.rhombus {
		transform: rotate(45deg);
		width: 25px;
		height: 25px;
		margin: 1px 0 0 3px;
		border-radius: 0;

		span {
			transform: rotate(-45deg);
			position: relative;
			border-radius: 0;
			width: 34px;
			height: 34px;
			top: -5px;
			left: -5px;
		}
	}
}

.skill-points, .energy-points {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-image: url(icons/light.jpg);
	background-size: cover;
}

.energy-points {
	background-image: url(icons/life.jpg);
}