
@import '../styles/branding.scss';
@import '../styles/mixins.scss';

.autocomplete-box {
	position: relative;
	display: inline-block;
	width: 100%;

	input {
		width: 100%;
	}

	&.selected input {
		color: $cText;
		font-weight: 700;
	}

	&.selected.has-icon {
		input {
			padding-left: 45px;

			.tab-active &:focus {
				padding-left: 44px;
			}
		}
		input + .auto-icon {
			position: absolute;
			left: 8px;
			top: 6px;
		}
	}

	.close-button {
		position: absolute;
		right: -4px;
		top: -1px;
		padding: 10px 4px 11px;
		height: 38px;

		.tab-active &:focus {
			padding-bottom: 13px;
		}
	}

	.options {
		position: absolute;
		top: 45px;
		right: 0;
		width: 100%;
		min-width: 100px;
		background: #fff;
		z-index: 10;
		border-radius: 3px;
		max-height: 200px;
		overflow-y: auto;
		box-shadow: $shadow3;
		margin-bottom: $spacing;

		&.above {
			top: auto;
			bottom: 41px;
		}

		ul {
			margin-bottom: 0;
		}

		.auto-icon {
			margin: -10px 10px -10px 2px;

			&.rhombus {
				margin: -8px 10px -8px 4px;
			}
		}

		.desc {
			padding-left: 5px;
			font-size: 11px;
			color: $cTextLight;
		}

		li {
			display: block;
			color: $cText;
			padding: 5px 8px;
			border: 2px solid transparent;
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			outline: none;

			&.disabled {
				color: $cDisabled;
				cursor: default;
			}

			&.special {
				color: lighten($cText, 15%);
			}

			&:not(.disabled):hover, &:not(.disabled):focus {
				text-decoration: none;
				background: lighten($cSecondary, 17%);
			}

			.tab-active &:not(.disabled):focus {
				border-color: $cTab;
			}
		}

		.selected {
			background: lighten($cSecondary, 0%);

			&:not(.disabled):hover, &:not(.disabled):focus {
				background: lighten($cSecondary, 7%);
			}
		}
	}


	&.has-invalids .options li {
		position: relative;
		padding-left: 30px;

		&.invalid {
			color: $cError;

			.desc {
				color: $cError;
			}

			.validity {
				position: absolute;
				left: 6px;
				top: 6px;
				font-size: 20px;
				color: $cError;
			}
		}
	}

	.placeholder, .options .placeholder {
		color: $cTextLight;
	}
}