
@import '../styles/branding.scss';
@import '../styles/mixins.scss';


.multi-button {
	position: relative;
	padding: 0 27px 0 0;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
	float: left;
	text-transform: none;

	.tab-active &:focus > span {
		background: lighten($cSecondary, 10%);
	}

	& > span {
		display: inline-block;
		padding: 12px 7px 11px;
		background: $cSecondary;
		transition: background $animFast, color $animFast;
		line-height: 18px;

		&:hover {
			background: lighten($cSecondary, 10%);
		}

		&:not(:first-child) {
			border-left: 1px solid darken($cSecondary, 10%);
		}
	}

	&.invalid {

		& > span {
		background: #eaa0a0;

			&:hover {
				background: #ffc9c9;
			}

			&:not(:first-child) {
				border-left-color: #f0bfbf;
			}
		}

		.tab-active &:focus > span {
			background: #eaa0a0;
		}
	}

	& > span.remove {
		position: absolute;
		right: -1px;
		top: -1px;
		bottom: -1px;
		padding: 12px 2px 10px 4px;

		&:hover {
			background: lighten($cError, 10%);
			color: #fff;
		}


		i {
			font-size: 18px;
		}
	}

	.tab-active &:focus > span.remove {
		right: -2px;
		top: -2px;
		bottom: -2px;
		padding: 13px 3px 11px 4px;
	}

	.auto-icon {
		margin: -5px 4px -9px 0;
	}

	.icon-no-text {
		margin-right: 0;
	}

	.no-text {
		padding: 0;
		vertical-align: bottom;

		.auto-icon {
			margin: 0;
			padding: 5px;
			width: 38px;
			height: 40px;
			pointer-events: auto;
			overflow: hidden;
			vertical-align: bottom;
		}
	}

	.multi-val:not(:last-child) {
		padding-right: 6px;
		margin-right: 6px;
		border-right: 1px solid darken($cSecondary, 10%);
	}

	&.dragged {
		opacity: 0;
	}

	@at-root {
		.multi-button.drag-before:before,
		.multi-button.drag-after:before,
		.multi-add .add-new.drag-before:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			display: block;
			width: 5px;
			height: 100%;
			background: $cPrimary;
			z-index: 3;
		}
	}

	&.drag-after:before {
		left: auto;
		right: 0;
	}

	&.clone {
		position: absolute;
		opacity: 0.7;
		color: lighten($cText, 15%);
		z-index: 3;
		transition: transform $animFast;
		transform: rotate(5deg);

		& > span {
			background: lighten($cSecondary, 15%);
		}
	}
}

.multi-add {
	margin: -1px 0 5px;
	padding-right: 45px;
	overflow: hidden;

	.add-new {
		float: left;
		position: relative;
		overflow: hidden;
	}

	&.extended {
		margin-left: -10px;

		.value-wrap {
			display:inline-block;
			padding: 5px;
			border-radius: 3px;
			margin: 0 0 5px 10px;
			background: lighten($cSecondary, 15%);
			position: relative;

			&:nth-child(n + 1) {
				margin-top: 5px;
			}
		}

		& > div {
			float: left;
			width: calc(100% - 10px);

			&:nth-child(n + 1) {
				clear: left;
			}

			@include media(m) {
				width: calc(50% - 10px);

				&:nth-child(2) {
					margin-top: 0;
				}

				&:nth-child(n + 1) {
					clear: none;
				}

				&:nth-child(2n + 1) {
					clear: left;
				}
			}

			@include media(l) {
				width: calc(33.33% - 10px);

				&:nth-child(3) {
					margin-top: 0;
				}

				&:nth-child(2n + 1) {
					clear: none;
				}

				&:nth-child(3n + 1) {
					clear: left;
				}
			}
		}

		.multi-button-extended {
			padding-right: 0;
			margin-right: 44px;
			max-width: calc(100% - 44px);

			.tab-active &:focus {
				margin-right: 42px;
			}
		}

		.add-new {
			margin-top: 6px;
			position: relative;
			left: 10px;

			.tab-active &:focus {
				margin-top: 4px;
			}
		}

		.remove-extended, form .add-new {
			width: 36px;
			float: left;
			background: none;
			box-shadow: none;
			margin-top: 2px;
			position: static;

			&:hover, &:focus {
				background: lighten($cSecondary, 20%);
				box-shadow: none;
			}

			i {
				font-size: 22px;
			}

			.tab-active &:focus {
				width: 40px;
				margin-top: 0;
			}
		}

		form .add-new {
			position: relative;
			left: 0;
		}

		.sub-multi-val {
			background: $cSecondary;
			float: left;

			&:hover, &:focus {
				background: lighten($cSecondary, 10%);
			}

			.auto-icon {
				position: relative;
				top: -4px;
			}


			&.invalid {
				background: #eaa0a0;

				&:hover, &:focus {
					background: #ffc9c9;
				}

				.tab-active &:focus {
					background: #ffc9c9;
				}
			}
		}

		.remove-extended {
			position: absolute;
			right: 0;

			&:hover, &:focus {
				background: lighten($cError, 10%);
				color: #fff;
			}
		}

		form {
			clear: both;

			label {
				padding: 5px 5px 0;
				font-size: 12px;
			}

			.row:not(.multi-add-row),
			.row-buttons,
			.valid-signs,
			.help.error {
				display: none;
			}

			.row-field, .multi-add {
				margin-bottom: 0;
			}
		}
	}
}

.multi-add-modal .modal-box {
	width: 400px;

	.body {
		overflow-y: visible;
	}

	.row-buttons {
		padding-bottom: 0;
	}
}
