
@import '../styles/branding.scss';
@import '../styles/mixins.scss';

.multicomplete {
	.list {
		padding-right: 45px;
		margin-bottom: 10px;
		@include clearfix;

		&.empty {
			margin-bottom: 0;
		}

		li {
			float: left;
		}

		div {
			background: lighten($cSecondary, 15%);
			color: $cText;
			border-radius: 3px;
			padding: 8px;
			margin: 0 5px 5px 0;
			box-shadow: $shadow1;
		}

		.text {
			padding: 0 5px;
		}

		button {
			padding: 8px 6px 11px;
			margin: -8px -9px -9px 3px;

			&:hover, &:focus {
				background: lighten($cError, 10%);
				color: #fff;
			}

			.tab-active &:focus {
				padding: 6px 4px 9px;
				height: 40px;
			}
		}

		i {
			font-size: 18px;
		}

		.auto-icon {
			margin: -5px 4px -9px 0;
		}
	}

}