
@import '../styles/branding.scss';
@import '../styles/mixins.scss';

.select-box {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;

	input {
		@include access;
	}

	.select {
		background-color: #fff;
		font-size: 14px;
		transition: border-color 0.2s ease-in-out;
		border: 1px solid rgba($cText, 0.5);
		padding: 10px 60px 10px 10px;
		border-radius: 3px;
		outline: none;
		width: 100%;
		margin-bottom: 5px;
		height: 40px;
		position: relative;
		box-shadow: $shadow1In;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		cursor: pointer;

		&:hover, &:focus, &.open {
			border-color: rgba($cText, 0.8);
		}

		.invalid &:hover, .invalid &:focus, .invalid &.open {
			border-color: $cError;
		}

		i {
			color: $cText;
			text-shadow: $shadowText;
			position: absolute;
			right: 7px;
			top: 8px;
			transition: transform 0.2s ease-in-out;
			pointer-events: none;
		}

		&.open i {
			transform: rotate(180deg);
			text-shadow: -1px -1px 2px rgba(0,0,0,0.2);
		}

		&.disabled {
			cursor: default;
			border-color: $cSecondary;
			color: $cDisabled;
			background-color: $cBg;
		}


		&.has-icon {
			padding-left: 45px;

			.auto-icon {
				position: absolute;
				left: 8px;
				top: 6px;
			}
		}
	}

	.tab-active & .select:focus {
		border-color: $cTab;
		border-width: 2px;
		padding: 9px 59px 9px 9px;

		&.has-icon {
			padding-left: 44px;

			.auto-icon {
				left: 7px;
				top: 5px;
			}
		}

		i {
			top: 7px;
			right: 6px;
		}
	}
	.tab-active .invalid & .select:focus {
		border-color: $cError;
	}

	.options {
		position: absolute;
		top: 45px;
		right: 0;
		width: 100%;
		min-width: 100px;
		background: #fff;
		z-index: 10;
		border-radius: 3px;
		max-height: 200px;
		overflow-y: auto;
		box-shadow: $shadow3;
		margin-bottom: $spacing;

		ul {
			margin-bottom: 0;
		}

		&.above {
			top: auto;
			bottom: 36px;
		}

		li {
			display: block;
			color: $cText;
			padding: 7px 10px;
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			outline: none;

			&.disabled {
				color: $cDisabled;
				cursor: default;

				.auto-icon {
					opacity: 0.6;
				}
			}

			&:not(.disabled):hover, &:not(.disabled):focus {
				text-decoration: none;
				background: lighten($cSecondary, 17%);
			}

			.tab-active &:not(.disabled):focus {
				border: 2px solid $cTab;
				padding: 5px 8px;
			}
		}

		.selected {
			background: lighten($cSecondary, 0%);

			&:not(.disabled):hover, &:not(.disabled):focus {
				background: lighten($cSecondary, 7%);
			}
		}

		.auto-icon {
			margin: -10px 10px -10px 2px;

			&.rhombus {
				margin: -8px 10px -8px 4px;
			}
		}
	}

	.placeholder, .options .placeholder {
		color: $cTextLight;
	}
}