
@import '../styles/branding.scss';
@import '../styles/mixins.scss';

.title-menu {
	position: relative;
	margin-right: 40px;

	button {
		padding: 10px 5px;
		box-shadow: none;
		text-align: left;
		background: lighten($cSecondary, 20%);
		width: 100%;
		margin: 0;
		font-size: 24px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		i {
			font-size: 28px;
		}

		&:hover, &:focus, &.open {
			background: lighten($cSecondary, 35%);
			box-shadow: $shadow1;
		}

		&.open:hover, &.open:focus {
			box-shadow: none;
		}

		.tab-active &:focus {
			padding: 8px 3px;
			height: 40px;
		}
	}

	.menu {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		padding-top: 40px;
		border-radius: 3px;
		overflow: hidden;
		box-shadow: $shadow2;

		ol {
			margin-bottom: 0;
		}

		a {
			display: block;
			color: $cText;
			background: lighten($cSecondary, 35%);
			padding: 10px 10px 10px 43px;
			font-size: 18px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-family: $fontHeading;

			&:hover, &:focus {
				text-decoration: none;
				background: lighten($cSecondary, 20%);
			}

			.tab-active &:focus {
				outline: none;
				border: 2px solid $cTab;
				padding: 8px 8px 8px 41px;
			}
		}
	}
}