
@import '../styles/branding.scss';
@import '../styles/mixins.scss';

@keyframes inflate {
	from {opacity: 0; transform: scale(0.7) translate(0, 0); pointer-events: none;}
	35% {opacity: 0; transform: scale(0.7) translate(0, 0);}
	to {opacity: 1; transform: scale(1) translate(0, 0); pointer-events: auto;}
}
@keyframes deflate {
	from {opacity: 1; transform: scale(1) translate(0, 0); pointer-events: none;}
	65% {opacity: 0; transform: scale(0.7) translate(0, 0);}
	to {opacity: 0; transform: scale(0.7) translate(0, 0);}
}

.event-disc {
	position: absolute;

	li {
		padding: 0;
	}

	a {
		position: relative;
		display: inline-block;
		width: 48px;
		height: 48px;
		margin: -24px 0 0 -24px;
		background: #aaa;
		border-radius: 50%;
		border: 4px solid transparent;
		box-shadow: $shadow1;
		transition: all $animFast;

		.crop {
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			border-radius: 50%;
			overflow: hidden;
		}

		.bg, .bg-empty {
			display: inline-block;
			position: absolute;
			width: 40px;
			height: 40px;
			left: 0;
			top: 0;
			background-size: cover;
		}

		&:hover, &:focus {
			box-shadow: $shadow3;

			.bg {
				filter: grayscale(0) brightness(1.1);
			}
		}
	}

	svg {
		position: absolute;
		left: -24px;
		top: -24px;
		transform: rotate(-90deg);
		pointer-events: none;
	}

	circle, path {
		fill: none;
		stroke-width: 4;
		stroke: $cText;
		transition: stroke $animFast;
	}

	.thin {
		stroke-width: 1;
	}

	.progress {
		stroke: $cSecondary;
		transition: stroke-dasharray 0.25s linear, stroke $animFast;
		stroke-dasharray: 138.23 138.23;
	}

	a:hover + svg .progress {
		stroke: lighten($cSecondary, 10%);
	}

	&.no-energy a {
		filter: grayscale(0.85);

		&:hover, &:focus {
			filter: grayscale(0.85) brightness(1.1);
		}
	}

	&.start, &.end {
		animation: inflate 0.5s ease-out forwards;
	}

	&.end {
		animation-name: deflate;
	}

	&.progress-event {

		a {
			border-radius: 0;
			width: 42px;
			height: 42px;
			margin: -21px 0 0 -21px;
			transform: rotate(45deg);
			box-shadow: $shadow1rotate;

			&:hover, &:focus {
				box-shadow: $shadow3rotate;
			}

			.crop {
				border-radius: 0;
			}

			.bg, .bg-empty {
				left: -6px;
				top: -6px;
				width: 46px;
				height: 46px;
				transform: rotate(-45deg);
			}

			.bg-empty {
				filter: grayscale(1);
				transform: none;
				transition: height $animFast;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border-bottom: 2px solid $cPrimary;
			}
		}

		svg {
			transform: rotate(45deg);
			left: -21px;
			top: -21px;
		}

		.progress {
			stroke-dasharray: 152px, 152px;
			transition: stroke-dashoffset 0.25s linear, stroke $animFast;
		}

		&.progress-done {
			path {
				stroke: darken($cSuccessBg, 20%);
			}

			.progress {
				stroke: $cSuccessBg;
			}
		}
	}
}