
@import '../styles/branding.scss';
@import '../styles/mixins.scss';

@keyframes inflate {
	from {opacity: 0; transform: scale(0.7) translate(0, 0); pointer-events: none;}
	35% {opacity: 0; transform: scale(0.7) translate(0, 0);}
	to {opacity: 1; transform: scale(1) translate(0, 0); pointer-events: auto;}
}
@keyframes deflate {
	from {opacity: 1; transform: scale(1) translate(0, 0); pointer-events: none;}
	65% {opacity: 0; transform: scale(0.7) translate(0, 0);}
	to {opacity: 0; transform: scale(0.7) translate(0, 0);}
}

.event-disc {
	position: absolute;

	a {
		position: relative;
		display: inline-block;
		width: 48px;
		height: 48px;
		margin: -24px 0 0 -24px;
		background: #aaa;
		border-radius: 50%;
		border: 4px solid transparent;
		box-shadow: $shadow3;
		background-size: cover;
		transition: all 0.3s ease-out;

		&:focus {
			outline: none;
		}
	}

	svg {
		position: absolute;
		left: -24px;
		top: -24px;
		transform: rotate(-90deg);
		pointer-events: none;
	}

	circle {
		fill: none;
		stroke-width: 4;
		stroke: #333;
	}

	.progress {
		stroke: #bbb;
		transition: stroke-dasharray 0.25s linear;
		stroke-dasharray: 138.23 138.23;
	}

	&.no-energy a {
		filter: grayscale(0.85);
	}

	&.start, &.end {
		animation: inflate 0.5s ease-out forwards;
	}

	&.end {
		animation-name: deflate;
	}
}