
@import '../styles/branding.scss';
@import '../styles/mixins.scss';

.message-box {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	margin: 0;

	li {
		position: absolute;
		z-index: 1200;
		left: 7px;
		right: 7px;
		display: block;
		text-align: center;
		transition: all $animFast;
		pointer-events: none;

		&.starting {
			opacity: 0;
			transform: translateX(250px);
		}

		&.ending {
			opacity: 0;
			transform: translateX(-250px);
		}

		&.has-desc .text {
			text-align: left;
		}

		a {
			max-width: 600px;
			display: inline-block;
			padding: 10px 20px;
			background: rgba($cBgInverse, 0.8);
			border: 1px solid $cBgInverse;
			color: $cBg;
			text-transform: capitalize;
			border-radius: 3px;
			cursor: pointer;
			transition: filter $animFast;
			box-shadow: $shadow1;
			position: relative;
			pointer-events: auto;

			&:hover, &:focus {
				text-decoration: none;
				filter: brightness(1.2);
				box-shadow: $shadow3;
			}
		}

		&:not(.dismissable) a {
			cursor: default;

			&:hover, &:focus {
				filter: none;
				box-shadow: $shadow1;
			}
		}

		.text {
			display: table;
		}

		.inner {
			display: table-cell;
			vertical-align: middle;
		}
		.inline-icon {
			display: inline-block;
			background-size: cover;
			width: 20px;
			height: 20px;
			margin: -5px 0 -5px 3px;
		}

		.desc {
			font-size: 12px;
			line-height: 18px;
			display: block;
			margin-top: -12px;
			white-space: pre-line;
		}

		&.icon-message {
			a {
				min-height: 46px;
				margin-left: 24px;
			}

			.icon {
				float: left;
				display: block;
				width: 60px;
				height: 60px;
				overflow: hidden;
				border: 2px solid $cBgInverse;
				position: absolute;
				top: 50%;
				border-radius: 50%;
				margin: -30px 0 0 -30px;
				left: 0;

				span {
					display: block;
					background-size: cover;
					width: 56px;
					height: 56px;
					border-radius: 50%;
				}

				&.square {
					border-radius: 5px;

					span {
						border-radius: 5px;
					}
				}

				&.rhombus {
					transform: rotate(45deg) translate(-49px, 14px);
					width: 50px;
					height: 50px;
					left: auto;
					margin: 0;
					border-radius: 0;

					span {
						transform: rotate(-45deg);
						margin: -10px 0 0 -10px;
						width: 65px;
						height: 65px;
						border-radius: 0;
					}
				}
			}

			.text {
				min-height: 50px;
				margin-left: 22px;
			}
		}

		.button-small {
			margin: -3px 0 -2px 14px;
		}

		.tab-active & .button-small:focus {
			margin: -5px -2px -4px 12px;
		}
	}

}