
@import '../styles/branding.scss';
@import '../styles/mixins.scss';

body.modal-open {
	overflow-x: hidden;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow: auto;
	height: 100%;
	text-align: center;
	z-index: 1000;
	padding: 10px;
	cursor: pointer;
	background-color: rgba(0,0,0,0.6);
	transition: opacity 0.2s ease-out;

	&.locked {
		cursor: default;

		.modal-box .head {
			padding-right: 0;
		}
	}

	&.long .modal-box {
		top: auto;
		transform: none;
	}

	&.full .modal-box {
		width: 80%;
		@include media(m) {
			width: 740px;
		}
		@include media(l) {
			width: 1000px;
		}
		@include media(xl) {
			width: 1200px;
		}
	}

	&.open.animate,
	&.closed.animate {
		opacity: 0;
	}

	&.open:not(.animate),
	&.closed:not(.animate) {
		opacity: 1;
	}
}

.modal-box {
	border-radius: 3px;
	display: inline-block;
	margin: 10px auto;
	background-color: #fff;
	box-shadow: $shadow5;
	width: auto;
	min-width: 285px;
	max-width: 95%;
	position: relative;
	text-align: left;
	cursor: default;
	top: 50%;
	transform: translateY(-50%);

	.inner {
		padding: 15px;
		@include media(l) {
			padding: 15px 30px;
		}
	}

	.head {
		padding-right: 30px;

		h1, .h1, h2, .h2, h3, .h3 {
			padding-top: 5px;
		}
	}

	.row-buttons {
		padding-bottom: 0;
	}

	.close-button {
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 0 4px 0 4px;

		&:before {
			content: '×';
			font-size: 18px;
			color: #333;
		}

		.tab-active &:focus {
			position: absolute;
			left: auto;
			top: 0;
			right: 0;
		}
	}
}
