
@import '../styles/branding.scss';
@import '../styles/mixins.scss';

.tooltip-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.tooltip {
	position: absolute;
	padding: 6px 8px 0;
	background: rgba($cBgInverse, 0.8);
	max-width: 300px;
	transition: opacity $animFast;
	border-radius: 3px;
	border: 1px solid $cBgInverse;
	z-index: 2000;

	&.open.animate,
	&.closed.animate {
		opacity: 0;
	}

	&.open:not(.animate),
	&.closed:not(.animate) {
		opacity: 1;
	}

	h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
		color: lighten($cPrimary, 15%);
		font-size: 15px;
		padding-top: 0;
		margin-bottom: 6px;
		line-height: 21px;
		text-transform: capitalize;

		.small {
			color: $cBg;
			text-transform: none;
			font-family: $font;
		}

		.c-success, .c-error {
			font-family: $font;
			font-size: 12px;
		}
	}

	p {
		color: $cBg;
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 6px;
	}

	.desc {
		white-space: pre-line;
	}

	.large {
		font-size: 14px;
		padding: 2px 0;
	}

	.padding-side {
		padding: 0 3px;
	}

	.energy, .ends-in {
		padding-left: 5px;
	}

	.c-error, .c-success,
	p.c-error, p.c-success {
		font-weight: 700;
		color: $cSuccessBg;
	}

	.c-error, p.c-error {
		color: $cError;
	}

	.skill-points, .energy-points {
		width: 20px;
		height: 20px;
		margin: -5px 2px -5px 0;
	}

	.icon-list {
		display: inline-block;
		padding: 0 0 4px 10px;

		 > span {
			display: inline-block;
			background-repeat: no-repeat;
			line-height: 18px;
			margin-right: 10px;
			color: $cBg;
			font-size: 12px;
		}

		> span > span {
			background-size: contain;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin: 0 4px -4px 0;
			border-radius: 50%;
		}
	}
}
