
@import '../styles/branding.scss';
@import '../styles/mixins.scss';

.world-screen {
	position: relative;
	overflow: hidden;
	height: 100%;

	.time,
	.skill-points {
		position: absolute;
		left: 0;
		top: 0;
		padding: 15px;
		font-size: 16px;
		color: $cBg;
		background: rgba($cBgInverse, 0.6);
		width: 150px;
		height: 50px;
		z-index: 2;
	}

	.skill-points {
		top: 50px;
		height: auto;
	}

	.events {
		position: absolute;
	}
}
